.container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  z-index: 1;
}

.main {
  display: flex;
  flex-direction: column;
  width: 100%;
}
