.navbarContainer{
    background-color: black;
    width: 100%;
    color: white;
}

.navUl{
    display: flex;
    flex-direction: row;
    margin-top: 0px;
}
.navUl li{
    padding: 2% 3%;
    list-style: none;
}